<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    
    <section id="scholarships" {{ if .Site.Params.diversity.bg }} class="bg-light-gray" {{ end }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diversity Scholarships</h2>
                </div>
                <div>
                  <p>
                    
                    As part of our commitment to making satRday Berlin as accessible as possible,
                    we are offering a 
                    diversity scholarship program. The program aims at providing financial help
                    to members of underrepresented or historically marginalized groups in the R
                    community who may not otherwise be able to attend our conference for financial
                    reasons.
                    
                  </p>
                  <p>
                        
                      Our scholarship consists of one full ticket to the event. Please note, that 
                      we cannot currently offer any funding for travel or accommodation.
                      
                    </p>
                  <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Application</h2>

                    </div>
                    <p>
                        
                        If you would like to apply for a scholarship, please 
                        fill out the form <a href="https://forms.gle/32SkGncv73ABtNwE8">here</a>
                        by no later than <strong>Monday 27th May, 2019</strong>.
                        
                    </p>
                    <p>Applicants must:
                        <ul><li>belong to an underrepresented or historically marginalized group,</li>
                        <li>be over 18 years old at the date of application.</li>
                        </ul>
                        </p>
                    <p>
                      If you'd like some tips on applying, the Forwards Team have 
                      put together a guide <a href="https://github.com/forwards/conferences/blob/0fa6412e1d1629dc9957959dbd51490b861e7b88/diversity_scholarships.md">here</a>.
                    </p>
                    <p>
                        
                        We will notify you about your application no later than 
                        <strong>Friday 31st May, 2019</strong>.
                        
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
